@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";


@theme {
  /* Brand */
  --color-primary: #22C55E;
  --color-primary-hover: #16A34A;
  --color-primary-light: #DCFCE7;

  /* Backgrounds */
  --color-background: #f1f1f1;
  --color-bgGreen: #EAFFDF;
  --color-sidebar:  #DDE1E6;
  --color-surface: #FFFFFF;
  --color-surface-secondary: #F1F5F9;

  /* Text */
  --color-text: #1E293B;
  --color-text-blue: #3F689D;
  --color-text-muted: #94A3B8;

  /* Border */
  --color-border: #D1D5DB;
  --color-borderGren: #6DC46D;

  /* Status */
  --color-success: #22C55E;
  --color-warning: #FACC15;
  --color-danger: #EF4444;
  --color-info: #3B82F6;

  /* Basic */
  --color-white: #FFFFFF;
  --color-black: #000000;
}